[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule ".shci/shci"]
	path = .shci/shci
	url = https://github.com/mrsinho/shci.git
[submodule "externals/mongoose"]
	path = externals/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb.git
[submodule "externals/shvulkan"]
	path = externals/shvulkan
	url = https://github.com/mrsinho/shvulkan.git
